:host {
    display: block;
  }
  
  body {
    overflow-y: scroll !important;
    background-color: #141414 !important;
  }
  
  .app-header {
    transition: background-color 0.3s ease;
  }
  
  .app-header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .home {
    padding-top: 20px;
  }
  
  .movie-row__posters img {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .movie-row__posters img:hover {
    transform: scale(1.08);
  }
  